.vertical-align {
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .vertical-align-bottom,
  .vertical-align-middle {
    display: inline-block;
    max-width: 100%;
  }

  .vertical-align-top {
    vertical-align: top;
  }

  .vertical-align-middle {
    vertical-align: middle;
  }

  .vertical-align-bottom {
    vertical-align: bottom;
  }
}